# Python / Django
__pycache__/
*.py[cod]
venv/
db.sqlite3
.env

# Node / React
node_modules/
dist/
.DS_Store


# --- SEGURIDAD (¡Lo más importante!) ---
.env
db.sqlite3

# --- PYTHON ---
__pycache__/
*.py[cod]
venv/
env/

# --- FRONTEND (NODE) ---
frontend/node_modules/
frontend/dist/
frontend/.env