@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,700;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  margin: 0;
  padding: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        /* CAMBIO CLAVE: Mover solo la mitad (50%) */
        /* Como tenemos 2 grupos de imágenes duplicados, al mover el 50%,
           el grupo 2 queda en la posición exacta del 1, y el loop es invisible. */
        transform: translateX(-50%);
    }
}

.animate-scroll {
    /* Ajusté el tiempo a 40s para que sea suave y elegante */
    animation: scroll 40s linear infinite;
    /* Asegura que el ancho sea suficiente para el contenido */
    width: max-content; 
}

.animate-scroll:hover {
    animation-play-state: paused;
}